/* TITLE PAGE STYLES */

#headerText{
  color: red;
  text-align: center;
  margin-top: 25vh;
}

#nameText{
  font-size: 20vh;
}


#navBar{
  background: none!important;
  display: none;
}

.TitlePageWrapper{
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#backgroundImage{
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}

/* Sub page styles */

#subPageHeader{
  text-align: center;
}

#subPageName{
  margin-top: 8%;
}

/* Total site styles */

.mainText{
  width: 80%;
}

/* About me Styles */

#aboutMePic{
  width: 500px;
  height: 300px;
  margin-bottom: 2%;
  margin-top: 2%
}

#marketingText{
  width: 50%;
  margin-top: 20px;
}

.textSection{
  width: 80%;
  margin-top: 1%;
}

.bioBold{
  color: purple;
}

/* Coding Page Styles */

#codingMobile{
  display: none;
}

.codingText{
  width: 50%;
  margin-top: 20px;
}

#aboutMeText{
  width: 50%;
  margin-top: 20px;
}

#writingText{
  width: 50%;
  margin-top: 20px;
}

.picCarousel{
  width:500px;
  height:300px;
}

.projectName{
  color:red;
}

/* Resume Page Styles */

#resumeName{
  text-align: center;
  /* padding-top: 2%; */
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 70%;               
  background-color:black;
  height: 1px;
}

.resumeDetails{
  width: 70%
}

#resumeLinks{
  text-align: center;
}

#resumeWrapper{
  border-width: 2px;
  border-color: red;
  border-style: dashed;
  width: 90%;
  margin: 5% 5% 5% 5%;
}

#resumeContentWrapper{
  /* padding: 2%; */
}

#resumeButton{
  display: none;
}

#resumeButtonDesktop{
  margin-top: 1%;
  margin-bottom: 1%;
}

@media (max-width: 767px) {

#navBar{
  display: flex;
}

.mainText{
  width:75%;
}

.subPageLinks{
  display: none;
}

#navLink{
  text-align: center;
}

#nameHeader{
  display: none;
}

/* Resume Specific Styles */

#resumeWrapper{
  border-style: none;
}

#resumeContentWrapper{
  padding: 0%;
}

#resumeButton{
  display: block;
  margin-bottom: 2%;
}

#resumeButtonDesktop{
  display: none;
}

/* About Me Pages */

#aboutMePic{
  width: 70%;
  height: 30%;
}

/* Coding pages */

#codingMobile{
  display: inline;
}

#codingDesktop{
  display:none;
}

.codingText{
  width: 80%;
  margin-top: 20px;
}

.picCarousel{
  width: 80%;
  height: auto;
}

}
