/* TITLE PAGE STYLES */

#headerText{
  color: red;
  text-align: center;
  margin-top: 25vh;
}

#nameText{
  font-size: 20vh;
  margin-left: 2%;
}

#bioText{
  margin-top: 2%;
  margin-left: 3%;
  width: 40%;
}

#navBar{
  background-color: purple!important;
  /* background: none!important; */
  color: black!important;
}
